## Imports

In [1]:
# instalar as dependências
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()

In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [5]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Carregamento de Dados
---

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

In [7]:
spark

### Montando o drive

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Carregando os dados dos Resultados

In [9]:
path = '/content/drive/MyDrive/resultados/SP_turno_1.csv'
resultados = spark.read.csv(path, sep=';', inferSchema=True, header=True, encoding='ISO-8859-1')

### Carregando os dados do Eleitorado

In [10]:
path = '/content/drive/MyDrive/eleitorado/perfil_eleitorado_2020/perfil_eleitorado_2020.csv'
eleitorado = spark.read.csv(path, sep=';', inferSchema=True, header=True, encoding='ISO-8859-1')

# Manipulando os Dados
---

## Operações básicas

In [16]:
resultados.limit(25).toPandas()

,NM_MUNICIPIO,NR_ZONA,NR_SECAO,DS_CARGO_PERGUNTA,SG_PARTIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,NM_VOTAVEL,QT_VOTOS
0,SÃO PAULO,1,1,Prefeito,#NULO#,386,241,145,Branco,5
1,SÃO PAULO,1,1,Prefeito,PT,386,241,145,JILMAR TATTO,4
2,SÃO PAULO,1,1,Prefeito,REDE,386,241,145,MARINA HELOU,1
3,SÃO PAULO,1,1,Prefeito,PSB,386,241,145,MÁRCIO FRANÇA,29
4,SÃO PAULO,1,1,Prefeito,PSDB,386,241,145,BRUNO COVAS,111
5,SÃO PAULO,1,1,Prefeito,PSL,386,241,145,JOICE HASSELMANN,2
6,SÃO PAULO,1,1,Prefeito,PATRIOTA,386,241,145,ARTHUR DO VAL MAMÃE FALEI,10
7,SÃO PAULO,1,1,Prefeito,#NULO#,386,241,145,Nulo,10
8,SÃO PAULO,1,1,Prefeito,REPUBLICANOS,386,241,145,CELSO RUSSOMANNO,18
9,SÃO PAULO,1,1,Prefeito,PSOL,386,241,145,GUILHERME BOULOS,43
10,SÃO PAULO,1,1,Prefeito,PSD,386,241,145,ANDREA MATARAZZO,8
11,SÃO PAULO,1,1,Vereador,REDE,386,241,145,RAQUEL MARQUES,1
12,SÃO PAULO,1,1,Vereador,NOVO,386,241,145,NOVO,4
13,SÃO PAULO,1,1,Vereador,PATRIOTA,386,241,145,RUBINHO NUNES,1
14,SÃO PAULO,1,1,Vereador,PMN,386,241,145,ARABELA COELHO,1
15,SÃO PAULO,1,1,Vereador,PT,386,241,145,REIS,1
16,SÃO PAULO,1,1,Vereador,PSB,386,241,145,PSB,5
17,SÃO PAULO,1,1,Vereador,PSDB,386,241,145,DANIEL ANNENBERG,6
18,SÃO PAULO,1,1,Vereador,DEM,386,241,145,JOSÉ DENICIO,1
19,SÃO PAULO,1,1,Vereador,NOVO,386,241,145,DR DAVID ZYLBERGELD NETO,1
20,SÃO PAULO,1,1,Vereador,PSDB,386,241,145,EDUARDO TUMA,4
21,SÃO PAULO,1,1,Vereador,REDE,386,241,145,FERNANDA GOMES,1
22,SÃO PAULO,1,1,Vereador,DEM,386,241,145,ADILSON AMADEU,1
23,SÃO PAULO,1,1,Vereador,PSOL,386,241,145,ANDRÉA WERNER,2
24,SÃO PAULO,1,1,Vereador,PT,386,241,145,ALE SOARES,1

In [14]:
eleitorado.limit(5).toPandas()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0
2,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,5,ENSINO MÉDIO INCOMPLETO,1,1,0,0
3,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,6,ENSINO MÉDIO COMPLETO,10,8,0,0
4,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,8,SUPERIOR COMPLETO,23,18,0,0

### Selecionando as colunas do DataFrame

In [11]:
resultados

DataFrame[DT_GERACAO: string, HH_GERACAO: string, ANO_ELEICAO: int, CD_TIPO_ELEICAO: int, NM_TIPO_ELEICAO: string, CD_PLEITO: int, DT_PLEITO: string, NR_TURNO: int, CD_ELEICAO: int, DS_ELEICAO: string, SG_UF: string, CD_MUNICIPIO: int, NM_MUNICIPIO: string, NR_ZONA: int, NR_SECAO: int, NR_LOCAL_VOTACAO: int, CD_CARGO_PERGUNTA: int, DS_CARGO_PERGUNTA: string, NR_PARTIDO: int, SG_PARTIDO: string, NM_PARTIDO: string, DT_BU_RECEBIDO: string, QT_APTOS: int, QT_COMPARECIMENTO: int, QT_ABSTENCOES: int, CD_TIPO_URNA: int, DS_TIPO_URNA: string, CD_TIPO_VOTAVEL: int, DS_TIPO_VOTAVEL: string, NR_VOTAVEL: int, NM_VOTAVEL: string, QT_VOTOS: int, NR_URNA_EFETIVADA: int, CD_CARGA_1_URNA_EFETIVADA: string, CD_CARGA_2_URNA_EFETIVADA: double, CD_FLASHCARD_URNA_EFETIVADA: string, DT_CARGA_URNA_EFETIVADA: string, DS_CARGO_PERGUNTA_SECAO: string, DS_AGREGADAS: string, DT_ABERTURA: string, DT_ENCERRAMENTO: string, QT_ELEITORES_BIOMETRIA_NH: int, DT_EMISSAO_BU: string, NR_JUNTA_APURADORA: int, NR_TURMA_APURADORA: int]

In [12]:
eleitorado

DataFrame[DT_GERACAO: string, HH_GERACAO: string, ANO_ELEICAO: int, SG_UF: string, CD_MUNICIPIO: int, NM_MUNICIPIO: string, CD_MUN_SIT_BIOMETRIA: int, DS_MUN_SIT_BIOMETRIA: string, NR_ZONA: int, CD_GENERO: int, DS_GENERO: string, CD_ESTADO_CIVIL: int, DS_ESTADO_CIVIL: string, CD_FAIXA_ETARIA: int, DS_FAIXA_ETARIA: string, CD_GRAU_ESCOLARIDADE: int, DS_GRAU_ESCOLARIDADE: string, QT_ELEITORES_PERFIL: int, QT_ELEITORES_BIOMETRIA: int, QT_ELEITORES_DEFICIENCIA: int, QT_ELEITORES_INC_NM_SOCIAL: int]

In [11]:
resultados = resultados.select("NM_MUNICIPIO", "NR_ZONA", "NR_SECAO", "DS_CARGO_PERGUNTA", "SG_PARTIDO", "QT_APTOS", "QT_COMPARECIMENTO", "QT_ABSTENCOES", "NM_VOTAVEL", "QT_VOTOS")

In [12]:
eleitorado = eleitorado.select("NM_MUNICIPIO", "NR_ZONA", "DS_GENERO", "DS_ESTADO_CIVIL", "DS_FAIXA_ETARIA", "DS_GRAU_ESCOLARIDADE", "QT_ELEITORES_PERFIL", "QT_ELEITORES_DEFICIENCIA", "QT_ELEITORES_INC_NM_SOCIAL")

## Encontrando o prefeito mais votado de cada cidade

In [128]:
# Aqui, estamos agrupando os resultados com base em múltiplas colunas:
# Para cada grupo, estamos somando os votos ("QT_VOTOS") e renomeando essa soma para "TOTAL_VOTOS".
candidato_mais_votado = resultados.groupBy("NM_MUNICIPIO", "NM_VOTAVEL", "DS_CARGO_PERGUNTA", "SG_PARTIDO").agg(F.sum("QT_VOTOS").alias("TOTAL_VOTOS"))

# Nesta linha, estamos filtrando apenas os registros onde o cargo em disputa é "Prefeito".
candidato_mais_votado_prefeito = candidato_mais_votado.filter(candidato_mais_votado["DS_CARGO_PERGUNTA"] == "Prefeito")

# Aqui, estamos definindo uma janela de análise (window) que particiona os dados pelo "NM_MUNICIPIO" (nome do município)
# e os ordena em ordem decrescente pelo "TOTAL_VOTOS" (quantidade de votos).
window_spec = Window.partitionBy("NM_MUNICIPIO").orderBy(F.desc("TOTAL_VOTOS"))

# Com base na janela definida acima, estamos adicionando uma nova coluna chamada "rank" ao DataFrame.
# Esta coluna "rank" representa o ranking de cada candidato a prefeito em seu respectivo município com base no número total de votos.
candidato_mais_votado_prefeito_ranked = candidato_mais_votado_prefeito.withColumn("rank", F.row_number().over(window_spec))

# Finalmente, filtramos apenas os candidatos que estão em 1º lugar no ranking (ou seja, os mais votados) em cada município.
candidato_mais_votado_in_each_municipio_prefeito = candidato_mais_votado_prefeito_ranked.filter(candidato_mais_votado_prefeito_ranked["rank"] == 1)

In [129]:
candidato_mais_votado_in_each_municipio_prefeito.toPandas()

,NM_MUNICIPIO,NM_VOTAVEL,DS_CARGO_PERGUNTA,SG_PARTIDO,TOTAL_VOTOS,rank
0,CANAS,SILVANA ZANIN,Prefeito,PDT,1108,1
1,PORTO FELIZ,DR CÁSSIO,Prefeito,PTB,25318,1
2,RIBEIRÃO BRANCO,MAURO TEIXEIRA,Prefeito,PP,5914,1
3,SÃO JOAQUIM DA BARRA,SCHMIDT,Prefeito,MDB,9789,1
4,ARCO-ÍRIS,ALDO MANSANO,Prefeito,PV,1134,1
...,...,...,...,...,...,...
640,SÃO SEBASTIÃO DA GRAMA,ZÉ DA DOCA,Prefeito,PTB,2402,1
641,NOVA CANAÃ PAULISTA,THAIS,Prefeito,PSDB,743,1
642,CAMPINA DO MONTE ALEGRE,ZE DITO,Prefeito,PSDB,2439,1
643,SÃO JOSÉ DO BARREIRO,LÊ BRAGA,Prefeito,PSDB,1570,1
644,ÁGUAS DA PRATA,REGINA,Prefeito,PSC,2211,1

## Buscando a porcentagem de votos que um candidato teve em cada zona e informações do perfil de eleitor predominante nela.

In [12]:
def votos_candidato_zona(nome_candidato, partido, df_votos, df_eleitorado):
    # Filtrar o dataframe de votos pelo nome do candidato e partido
    df_candidato_votos = df_votos.filter((df_votos.NM_VOTAVEL == nome_candidato) & (df_votos.SG_PARTIDO == partido))

    # Agrupar pelo NM_MUNICIPIO e NR_ZONA para somar a quantidade de votos por zona
    df_candidato_votos_agrupado = df_candidato_votos.groupBy("NM_MUNICIPIO", "NR_ZONA").agg(F.sum("QT_VOTOS").alias("TOTAL_VOTOS"))

    # Ordenar as zonas pelo número de votos em ordem decrescente
    df_candidato_votos_agrupado = df_candidato_votos_agrupado.orderBy("TOTAL_VOTOS", ascending=False)

    # Juntar o dataframe de eleitorado com o dataframe de votos agrupados usando o NM_MUNICIPIO e NR_ZONA
    df_joined = df_candidato_votos_agrupado.join(df_eleitorado, ["NM_MUNICIPIO", "NR_ZONA"])

    # Computa a soma dos perfis para cada categoria
    df_sum = df_joined.groupBy("NM_MUNICIPIO", "NR_ZONA", "DS_GENERO", "DS_FAIXA_ETARIA", "DS_GRAU_ESCOLARIDADE").agg(F.sum("QT_ELEITORES_PERFIL").alias("TOTAL_PERFIL"))

    # Encontrar a moda das colunas de interesse
    window = Window.partitionBy("NM_MUNICIPIO", "NR_ZONA").orderBy(F.desc("TOTAL_PERFIL"))

    df_genero = df_sum.withColumn("rank", F.row_number().over(window)).filter("rank = 1").select("NM_MUNICIPIO", "NR_ZONA", "DS_GENERO").drop("rank")
    df_faixa = df_sum.withColumn("rank", F.row_number().over(window)).filter("rank = 1").select("NM_MUNICIPIO", "NR_ZONA", "DS_FAIXA_ETARIA").drop("rank")
    df_escolaridade = df_sum.withColumn("rank", F.row_number().over(window)).filter("rank = 1").select("NM_MUNICIPIO", "NR_ZONA", "DS_GRAU_ESCOLARIDADE").drop("rank")

    # Agregar o total de eleitores por NM_MUNICIPIO e NR_ZONA
    df_total_eleitores = df_eleitorado.groupBy("NM_MUNICIPIO", "NR_ZONA").agg(F.sum("QT_ELEITORES_PERFIL").alias("TOTAL_ELEITORES"))

    # Calcular a porcentagem de votos
    df_candidato_votos_agrupado = df_candidato_votos_agrupado.join(df_total_eleitores, ["NM_MUNICIPIO", "NR_ZONA"])
    df_candidato_votos_agrupado = df_candidato_votos_agrupado.withColumn("PERCENTUAL_VOTOS", F.round((F.col("TOTAL_VOTOS") / F.col("TOTAL_ELEITORES")) * 100, 2))
    # Junta os resultados
    df_result = df_candidato_votos_agrupado.join(df_genero, ["NM_MUNICIPIO", "NR_ZONA"]).join(df_faixa, ["NM_MUNICIPIO", "NR_ZONA"]).join(df_escolaridade, ["NM_MUNICIPIO", "NR_ZONA"])

    return df_result

In [16]:
result = votos_candidato_zona('GUILHERME BOULOS', 'PSOL', resultados, eleitorado)
result_pandas = result.toPandas()

In [17]:
result_pandas

,NM_MUNICIPIO,NR_ZONA,TOTAL_VOTOS,TOTAL_ELEITORES,PERCENTUAL_VOTOS,DS_GENERO,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE
0,SÃO PAULO,327,15166,116314,13.04,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
1,SÃO PAULO,398,10248,99098,10.34,FEMININO,30 a 34 anos,ENSINO MÉDIO COMPLETO
2,SÃO PAULO,247,12863,107948,11.92,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
3,SÃO PAULO,250,22095,165668,13.34,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
4,SÃO PAULO,20,21497,157859,13.62,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
5,SÃO PAULO,254,13977,153234,9.12,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
6,SÃO PAULO,352,19298,203201,9.50,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
7,SÃO PAULO,6,23573,159499,14.78,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
8,SÃO PAULO,258,19835,185209,10.71,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
9,SÃO PAULO,373,16707,128866,12.96,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
10,SÃO PAULO,353,18909,176776,10.70,FEMININO,25 a 29 anos,ENSINO MÉDIO COMPLETO
11,SÃO PAULO,347,20754,171894,12.07,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
12,SÃO PAULO,351,13631,130175,10.47,MASCULINO,25 a 29 anos,ENSINO MÉDIO INCOMPLETO
13,SÃO PAULO,413,17210,147599,11.66,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
14,SÃO PAULO,253,25026,217744,11.49,FEMININO,35 a 39 anos,SUPERIOR COMPLETO
15,SÃO PAULO,404,22140,185463,11.94,FEMININO,25 a 29 anos,ENSINO MÉDIO COMPLETO
16,SÃO PAULO,421,15913,141625,11.24,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
17,SÃO PAULO,372,33098,267732,12.36,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
18,SÃO PAULO,348,10533,101362,10.39,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
19,SÃO PAULO,422,16578,144498,11.47,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
20,SÃO PAULO,325,12665,98797,12.82,FEMININO,35 a 39 anos,SUPERIOR COMPLETO
21,SÃO PAULO,349,13501,128493,10.51,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
22,SÃO PAULO,3,8689,76654,11.34,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
23,SÃO PAULO,280,20734,168405,12.31,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
24,SÃO PAULO,371,24321,192416,12.64,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
25,SÃO PAULO,374,34631,239937,14.43,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
26,SÃO PAULO,252,13620,110946,12.28,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
27,SÃO PAULO,1,25244,153345,16.46,FEMININO,35 a 39 anos,SUPERIOR COMPLETO
28,SÃO PAULO,249,13738,111823,12.29,FEMININO,55 a 59 anos,SUPERIOR COMPLETO
29,SÃO PAULO,259,21055,151795,13.87,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
30,SÃO PAULO,326,11686,107402,10.88,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
31,SÃO PAULO,403,12768,106146,12.03,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
32,SÃO PAULO,251,22310,112494,19.83,FEMININO,60 a 64 anos,SUPERIOR COMPLETO
33,SÃO PAULO,260,17957,177883,10.09,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
34,SÃO PAULO,418,19113,188592,10.13,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
35,SÃO PAULO,255,21162,185970,11.38,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
36,SÃO PAULO,420,11777,119980,9.82,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
37,SÃO PAULO,397,15785,151848,10.40,FEMININO,25 a 29 anos,ENSINO MÉDIO COMPLETO
38,SÃO PAULO,4,17777,160277,11.09,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
39,SÃO PAULO,2,32328,180604,17.90,FEMININO,35 a 39 anos,SUPERIOR COMPLETO
40,SÃO PAULO,381,23909,226781,10.54,FEMININO,30 a 34 anos,ENSINO MÉDIO COMPLETO
41,SÃO PAULO,376,25738,239886,10.73,FEMININO,30 a 34 anos,ENSINO MÉDIO COMPLETO
42,SÃO PAULO,417,15446,122743,12.58,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
43,SÃO PAULO,256,18121,174812,10.37,FEMININO,25 a 29 anos,ENSINO MÉDIO COMPLETO
44,SÃO PAULO,392,15185,125899,12.06,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
45,SÃO PAULO,405,14125,106302,13.29,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
46,SÃO PAULO,390,13609,118335,11.50,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
47,SÃO PAULO,389,21863,187780,11.64,FEMININO,25 a 29 anos,ENSINO MÉDIO COMPLETO
48,SÃO PAULO,328,23374,173477,13.47,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
49,SÃO PAULO,246,14135,116359,12.15,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
50,SÃO PAULO,320,21128,180691,11.69,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
51,SÃO PAULO,248,19180,155101,12.37,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
52,SÃO PAULO,408,20124,157950,12.74,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
53,SÃO PAULO,257,19149,174997,10.94,FEMININO,35 a 39 anos,SUPERIOR COMPLETO
54,SÃO PAULO,375,28382,245862,11.54,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO
55,SÃO PAULO,346,17782,138199,12.87,FEMININO,40 a 44 anos,SUPERIOR COMPLETO
56,SÃO PAULO,5,15243,122204,12.47,FEMININO,60 a 64 anos,SUPERIOR COMPLETO
57,SÃO PAULO,350,14331,133738,10.72,FEMININO,35 a 39 anos,ENSINO MÉDIO COMPLETO

In [36]:
result_pandas.to_csv('ResultadosRLPODE2020.csv', sep=';', encoding='ISO-8859-1')

## Buscar zonas eleitorais com maior número de abstenções e votos brancos e nulos

In [24]:
def analyze_by_cargo_and_municipio(df, cargo, municipio=None):
    # Filtrar dados para o cargo especificado
    df_filtered = df.filter(df["DS_CARGO_PERGUNTA"] == cargo)

    # Se um município foi especificado, filtrar os dados para esse município
    if municipio:
        df_filtered = df_filtered.filter(df["NM_MUNICIPIO"] == municipio)

    # Agrupar por NR_ZONA e NR_SECAO para pegar a quantidade única de abstenções em cada seção
    grouped_secao_df = df_filtered.groupBy("NR_ZONA", "NR_SECAO").agg(
        F.first("QT_ABSTENCOES").alias("QT_ABSTENCOES"),
        F.first("QT_APTOS").alias("QT_APTOS")
    )

    # Agrupar por NR_ZONA para somar as abstenções e eleitores aptos em cada zona
    grouped_zona_df = grouped_secao_df.groupBy("NR_ZONA").agg(
        F.sum("QT_ABSTENCOES").alias("Número de abstenções"),
        F.sum("QT_APTOS").alias("Número de aptos")
    )

    # Filtrar linhas onde NM_VOTAVEL é 'Voto Branco' ou 'Voto Nulo'
    branco_nulo_df = df_filtered.filter(df["NM_VOTAVEL"].isin(["Branco", "Nulo"]))

    # Agrupar por NR_ZONA para somar os votos brancos e nulos
    branco_nulo_grouped = branco_nulo_df.groupBy("NR_ZONA").agg(
        F.sum("QT_VOTOS").alias("Número de votos brancos e nulos")
    )

    # Unir os dois DataFrames agrupados para ter todas as informações em um único DataFrame
    final_df = grouped_zona_df.join(branco_nulo_grouped, "NR_ZONA", "left_outer")

    # Calcular a soma de abstenções, votos brancos e nulos
    final_df = final_df.withColumn("Total", final_df["Número de abstenções"] + final_df["Número de votos brancos e nulos"])

    # Calcular a porcentagem de abstenções e votos brancos e nulos em relação aos eleitores aptos
    final_df = final_df.withColumn("Percentual", F.round((final_df["Total"] / final_df["Número de aptos"]) * 100, 2))


    # Ordenar pelo total e pegar as 50 zonas com os maiores números
    top_50_zonas = final_df.orderBy(F.desc("Total")).limit(50)

    return top_50_zonas


# Exemplos de uso
top_50_prefeito_sao_paulo = analyze_by_cargo_and_municipio(resultados, "Prefeito", "SÃO PAULO")
top_50_vereador_sao_paulo = analyze_by_cargo_and_municipio(resultados, "Vereador", "SÃO PAULO")
top_50_prefeito_campinas = analyze_by_cargo_and_municipio(resultados, "Prefeito", "CAMPINAS")
top_50_vereador_campinas = analyze_by_cargo_and_municipio(resultados, "Vereador", "CAMPINAS")

# Mostrar os resultados
print("Top 50 Zonas para Prefeito em São Paulo:")
top_50_prefeito_sao_paulo.show()
print("Top 50 Zonas para Vereador em São Paulo:")
top_50_vereador_sao_paulo.show()

print("Top 50 Zonas para Prefeito em Campinas:")
top_50_prefeito_campinas.show()
print("Top 50 Zonas para Vereador em Campinas:")
top_50_vereador_campinas.show()

Top 50 Zonas para Prefeito em São Paulo:
+-------+--------------------+---------------+-------------------------------+------+----------+
|NR_ZONA|Número de abstenções|Número de aptos|Número de votos brancos e nulos| Total|Percentual|
+-------+--------------------+---------------+-------------------------------+------+----------+
|    372|               70391|         267693|                          37388|107779|     40.26|
|    375|               67245|         245813|                          33561|100806|     41.01|
|    376|               68094|         239785|                          31648| 99742|      41.6|
|    374|               69775|         239916|                          24711| 94486|     39.38|
|    381|               56287|         226777|                          33285| 89572|      39.5|
|    253|               64822|         217680|                          21479| 86301|     39.65|
|    352|               54210|         203182|                          30294| 84504|     41.59|
|    418|               53374|         188570|                          24673| 78047|     41.39|
|    255|               56541|         185921|                          20113| 76654|     41.23|
|    371|               48705|         192435|                          26364| 75069|     39.01|
|    389|               49559|         187793|                          25334| 74893|     39.88|
|    353|               48241|         176724|                          26405| 74646|     42.24|
|    256|               54023|         174806|                          19552| 73575|     42.09|
|    260|               55612|         177886|                          17858| 73470|      41.3|
|    404|               47514|         185423|                          25845| 73359|     39.56|
|    320|               53195|         180752|                          20132| 73327|     40.57|
|    258|               62496|         185187|                          10026| 72522|     39.16|
|    257|               53050|         175134|                          18632| 71682|     40.93|
|    328|               48907|         173423|                          22176| 71083|     40.99|
|      2|               61557|         180555|                           9201| 70758|     39.19|
+-------+--------------------+---------------+-------------------------------+------+----------+
only showing top 20 rows

Top 50 Zonas para Vereador em São Paulo:
+-------+--------------------+---------------+-------------------------------+------+----------+
|NR_ZONA|Número de abstenções|Número de aptos|Número de votos brancos e nulos| Total|Percentual|
+-------+--------------------+---------------+-------------------------------+------+----------+
|    372|               70391|         267693|                          39846|110237|     41.18|
|    375|               67245|         245813|                          40509|107754|     43.84|
|    376|               68094|         239785|                          38134|106228|      44.3|
|    374|               69775|         239916|                          31578|101353|     42.25|
|    253|               64822|         217680|                          28052| 92874|     42.67|
|    381|               56287|         226777|                          34904| 91191|     40.21|
|    352|               54210|         203182|                          35370| 89580|     44.09|
|    418|               53374|         188570|                          28562| 81936|     43.45|
|    255|               56541|         185921|                          24799| 81340|     43.75|
|    389|               49559|         187793|                          30585| 80144|     42.68|
|    371|               48705|         192435|                          30769| 79474|      41.3|
|    260|               55612|         177886|                          23188| 78800|      44.3|
|    353|               48241|         176724|                          30369| 78610|     44.48|
|    256|               54023|         174806|                          24002| 78025|     44.64|
|    258|               62496|         185187|                          14794| 77290|     41.74|
|    404|               47514|         185423|                          29725| 77239|     41.66|
|    320|               53195|         180752|                          23762| 76957|     42.58|
|    257|               53050|         175134|                          23678| 76728|     43.81|
|    328|               48907|         173423|                          27228| 76135|      43.9|
|    347|               48678|         171876|                          26520| 75198|     43.75|
+-------+--------------------+---------------+-------------------------------+------+----------+
only showing top 20 rows

Top 50 Zonas para Prefeito em Campinas:
+-------+--------------------+---------------+-------------------------------+-----+----------+
|NR_ZONA|Número de abstenções|Número de aptos|Número de votos brancos e nulos|Total|Percentual|
+-------+--------------------+---------------+-------------------------------+-----+----------+
|    378|               55420|         189684|                          26708|82128|      43.3|
|    379|               46308|         154090|                          20885|67193|     43.61|
|    275|               44383|         141639|                          17994|62377|     44.04|
|    380|               35294|         115512|                          16030|51324|     44.43|
|    274|               27722|          92057|                          12348|40070|     43.53|
|    423|               27414|          89073|                          10742|38156|     42.84|
|     33|               23608|          61378|                           5615|29223|     47.61|
+-------+--------------------+---------------+-------------------------------+-----+----------+

Top 50 Zonas para Vereador em Campinas:
+-------+--------------------+---------------+-------------------------------+-----+----------+
|NR_ZONA|Número de abstenções|Número de aptos|Número de votos brancos e nulos|Total|Percentual|
+-------+--------------------+---------------+-------------------------------+-----+----------+
|    378|               55420|         189684|                          23570|78990|     41.64|
|    379|               46308|         154090|                          17568|63876|     41.45|
|    275|               44383|         141639|                          15874|60257|     42.54|
|    380|               35294|         115512|                          13468|48762|     42.21|
|    274|               27722|          92057|                          10879|38601|     41.93|
|    423|               27414|          89073|                           9074|36488|     40.96|
|     33|               23608|          61378|                           5253|28861|     47.02|
+-------+--------------------+---------------+-------------------------------+-----+----------+